<!-- FOOTER -->
<footer id="footer">
     <div class="container">
          <div class="row">

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Address</h2>
                         </div>
                         <address>
                              <p>IIIT Raichur Campus, GEC Raichur</p>
                         </address>
                    </div>
               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Contact Info</h2>
                         </div>
                         <address>
                              <p>9394445259</p>
                              <p><a href="mailto:nss@iiitr.ac.in">nss@iiitr.ac.in</a></p>
                         </address>

                    </div>
               </div>
               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Quick Links</h2>
                         </div>
                         <div class="footer_menu">
                              <ul>
                                   <li><a href="https://nss.gov.in/">NSS Website &nbsp;</a></li>
                                   <li><a href="https://iiitr.ac.in">IIIT Raichur &nbsp;</a></li><br>
                                   <li><a href="https://iiitr.ac.in/students.html">Students &nbsp;</a></li>
                                   <li><a href="https://github.com/iiitraichur/nss.iiitr.ac.in/graphs/contributors">Website
                                             Team &nbsp;</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     </div>
</footer>


<!-- SCRIPTS -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/custom.js"></script>
