     <!-- HOME -->
     <section id="home">
		 <div class="container-fluid">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>SWACHHATA HI SEVA</h1>
                                             <h3>Plastic Waste Free Campaign</h3>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>THE TEAM</h1>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
              </div>
          </div>
     </section>
